Thanks for registering your email with us.  Please enter this token on your
registration page or use the following link to complete your registration.

<p>Token: <%= @code.code %></p>

<p><href a="<%= @return_url %>"><%= @return_url %></href></p>