<div class="header clearfix">
  <h3 class="page-header">App Reviews List</h3>
</div>

<h1>DEPRECATED!</h1>

<p>
  Returns a paginated list of reviews for the specified app. Reviews may have come from multiple sources, including from the site itself using Twitter logins, or from other platforms/apps that have registered. More information on registering an app is available in <a href="#contributing">the "contributing" section.</a>
</p>

<code>GET /api/v1/apps/:app_id/reviews</code>
<pre>{
"objects": [
  {
    "user_avatar_url": "http://example.com/user/avatar/50x50.png",
    "source_name": "Human-readable name of platform/app where user posted",
    "tool_name": "Human-readable name of the app",
    "rating": 3, // out of 5
    "source_url": "http://example.com/platform_or_app/homepage",
    "user_name": "User name",
    "user_url": "http://example.com/user/profile",
    "id": 1,
    "comments": "user-provided comments, if any",
    "created": "Jun 19, 2012"
  }
],
"meta": {
  "next": "http://example.com/more/reviews"
}}
</pre>