<div class="header clearfix">
  <h3 class="page-header">App List</h3>
</div>

<p>
    Returns a list of all known apps. Includes some summary information around the number of ratings and comments, as well as all information needed to configure and place the apps in a learning system.
  </p>
 
  <code>GET /api/v1/apps</code>
  <pre class="prettyprint">{
  "meta": 
    {
      "next": "http://url.for/more/objects/if/any"
    },
  "objects": [
    {
      "id": "unique_identifier",
      "name": "Human Readable App Name",
      "extensions": ["multiple", "values"], // possible values: editor_button, resource_selection, user_nav, course_nav, account_nav
      "added": "2012-03-27T00:00:00Z",
      "avg_rating": 3.5,
      "banner_url": "http://example.com/240x125.png",
      "logo_url": "http://example.com/72x72.png",
      "launch_url": "http://example.com/app.launch",
      "any_key": true,
      "short_description": "Short app description",
      "comments_count": 21,
      "ratings_count": 45,
      "preview": {
        "url":"/twitter.html",
        "height":475
      },
      "categories": ["list of", "human-readable", "category names"],
      "levels": ["multiple", "values"], // possible values: "K-6th Grade", "7th-12th Grade", "Postsecondary"
      "description": "Longer app description",
      "config_url": "http://more.info/available/below"
    },
    { ... },
    { ... }
  ]
}</pre>

  <h3>Optional parameters</h3>
  <table class="table table-bordered table-striped">
    <tbody><tr>
      <td><code>level</code></td>
      <td><span class="label">optional</span></td>
      <td>Filter to only apps that are marked for the 
      specified grade level. The levels are available
      on the home page, and are 
      <code>all</code>, 
      <code>K-6th Grade</code>, 
      <code>7th-12th Grade</code>, and
      <code>Postsecondary</code>
      </td>
    </tr>
    <tr>
      <td><code>category</code></td>
      <td><span class="label">optional</span></td>
      <td>Filter to only apps that are categorized for
      the specified category. The categories are available
      on the home page, and are
      <code>all</code>,
      <code>Community</code>, 
      <code>Content</code>, 
      <code>Math</code>, 
      <code>Open Content</code>, 
      <code>Science</code>, 
      <code>Study Helps</code>, 
      <code>Textbooks/eBooks</code>, and
      <code>Web 2.0</code>
      </td>
    </tr>
    <tr>
      <td><code>recent</code></td>
      <td><span class="label">optional</span></td>
      <td>Filters to only apps have been added in
      the past 24 weeks. If less than 6 apps have been 
      added in the last 24 weeks, it will go back farther
      until at least 6 apps are returned.
      Setting this value to anything other
      than an empty string will apply the filter.
      </td>
    </tr>
    <tr>
      <td><code>platform</code></td>
      <td><span class="label">optional</span></td>
      <td>Filters to only apps that can be used in
      the specified platform. This is a bit of a placeholder
      parameter, since right now there are only two
      options, <code>Canvas</code> and anything other
      than <code>Canvas</code>. As more apps and extensions
      are added, more platforms will be explicitly supported.
      </td>
    </tr>
    <tr>
      <td><code>extension</code></td>
      <td><span class="label">optional</span></td>
      <td>Filters to only apps that support the
      specified extension. Available extensions are
      <code>all</code>, 
      <code>editor_button</code>, 
      <code>resource_selection</code>, 
      <code>user_navigation</code>, and
      <code>course_navigation</code>
      </td>
    </tr></tbody>
  </table>

  <p>
    Most of the information is consistent across all apps. <code>preview</code> is an optional value, and there are some possible configuration options listed below:
  </p>

  <h3>Possible Configuration Return Values</h3>
  <table class="table table-bordered table-striped">
            <tbody><tr>
              <td><code>config_directions</code></td>
              <td>
                This app doesn't have a standardized
                way to configure it, so instead it will return 
                some HTML code containing
                directions on how to manually configure the app.
              </td>
            </tr>
            <tr>
              <td><code>config_url</code>
              </td>
              <td>
                <p>
                  If <code>config_options</code> is not provided, then this is
                  the url that can be queried to retrieve the XML configuration
                  for this app.
                </p>
                <p>
                  If <code>config_options</code> is provided, then it will contain
                  a list of options that can be specified by the user to help
                  specify app configuration. These options should be appended
                  to <code>config_url</code> as query parameters. The format of 
                  the options is below.
                </p>
<pre>{
    "name": "query_parameter_key",
    "description": "Human-readable description", 
    "required": true,
    "type": "text", // possible values: text, checkbox
    "value": "default_query_parameter_value"
},
{ ... },
{ ... } 
</pre>
                <p></p>
              </td>
            </tr>
            <tr>
              <td><code>config_urls</code></td>
              <td>
                <p>This value provides a list of configuration URLs rather than
                a single configuration URL. <code>config_options</code> can
                still be specified as with <code>config_url</code>. The format
                of the URL list is below.
                </p>
<pre>{
  "url": "http://example.com/config.xml",
  "description": "Human-readable description"
},
{ ... },
{ ... }
</pre>
              </td>
            </tr>
              
          </tbody></table>