<div class="header clearfix">
  <h3 class="page-header">App Details</h3>
</div>

<p>
    Returns information on a single app. This doesn't provide any additional information than what's available in the app list response.
  </p>

  <code>GET /api/v1/apps/:app_id</code>
  <pre>{
  "id": "unique_identifier",
  "name": "Human Readable App Name",
  // Same as above
},
</pre>