<% content_for :title, "API - Introduction" %>

<div class="header clearfix">
  <h3 class="page-header">Introduction</h3>
</div>

<p>
  Below are the available API endpoints for this LTI App Repository.  Select the "doc" link to learn more about the specific endpoint.
</p>

<div class="row">
  <div class="col-sm-12" style="overflow: auto;">
    <table class="table table-bordered">
      <thead><tr>
        <th>Method</th>
        <th>Endpoint</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr></thead>
      <tbody><tr>
        <td><code>GET</code></td>
        <td><code>/api/v1/lti_apps</code></td>
        <td>List of all LTI Apps</td>
        <td><%= link_to "Docs", docs_path({section: "api", page: "app_list"}) %></td>
      </tr><tr>
        <td><code>GET</code></td>
        <td><code>/api/v1/lti_apps/:id</code></td>
        <td>Single LTI App</td>
        <td><%= link_to "Docs", docs_path({section: "api", page: "app_details"}) %></td>
      </tr><tr>
        <td><code>GET</code></td>
        <td>
          <code>/api/v1/reviews?lti_app_id=[lti_app_id]</code><br>
          <code>/api/v1/lti_apps/:lti_app_id/reviews</code>
        </td>
        <td>Reviews for an LTI App</td>
        <td><%= link_to "Docs", docs_path({section: "api", page: "retrieving_reviews"}) %></td>
      </tr><tr>
        <td><code>POST</code></td>
        <td>
          <code>/api/v1/reviews</code><br>
          <code>/api/v1/lti_apps/:lti_app_id/reviews</code>
        </td>
        <td>Submit Review</td>
        <td><%= link_to "Docs", docs_path({section: "api", page: "contributing_reviews"}) %></td>
      </tr></tbody>
    </table>
  </div>
</div>
