<div class="header clearfix">
  <h3 class="page-header">Introduction</h3>
</div>

<p>
  All of the information on Edu-Apps.org is programmatically available. You can call the API to get the current information out. You can also help add to the magic by registering your learning platform here. Then not only can your users see the apps and ratings, but they can also post app ratings back to LTI of Magic through your platform. Find out how at the bottom of the page.
</p>
<p>
  APIs are cool. This one returns paginated JSON responses. There's no auth required for anything other than posting comments and reviews. All pagination information is included in the JSON response body.
</p>