<div class="header clearfix">
  <h3 class="page-header">Retrieving Reviews</h3>
</div>

<p>
  You can retrieve a specific review (to see for example if the current user has already reviewed the specified app) by calling. Requires the same <code>user_id</code> and <code>access_token</code> used when posting the review.
</p>
<code>GET /api/v1/apps/:app_id/reviews/:access_token/:user_id</code>
<pre>{
"user_avatar_url": "http://example.com/user/avatar/50x50.png",
"source_name": "Human-readable name of platform/app where user posted",
// Same as above
}</pre>