<%=raw js_env(@env) %>

<div class="bg-light-gray">
  <div class="container">
    <div id="home-banner-wrapper">
      <h1>
        <strong>An open LTI app collection.</strong>
        Browse apps below or <%= link_to "learn more", "#" %>
      </h1>
    </div>
    <div id="ember-app"></div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/app_list.js"></script>