<script type="text/x-handlebars" data-template-name="_navigationForm">
<div class="form-group">
  <label>LTI Launch URL</label>
  {{input type="text" value=lti_launch_url class="form-control" placeholder="https://"}}
</div>
<div class="form-group">
  <label>Link Text</label>
  {{input type="text" value=link_text class="form-control" placeholder=""}}
</div>
</script>