<div class="header clearfix">
  <h3 class="page-header">Configuring Apps in Blackboard Learn</h3>
</div>

<p>The <a href="http://library.blackboard.com/ref/df5b20ed-ce8d-4428-a595-a0091b23dda3/Content/_admin_app_system/admin_app_basic_lti_tool_providers.htm" target="_blank">following page</a> explains how to set up external apps in Blackboard Learn.</p>

<div class="row">
  <iframe src="http://www.youtube.com/embed/Qh_X3J8VADE" class="col-12" height="400" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row">
  <iframe src="http://library.blackboard.com/ref/df5b20ed-ce8d-4428-a595-a0091b23dda3/Content/_admin_app_system/admin_app_basic_lti_tool_providers.htm" 
          frameborder="0" 
          class="col-12"
          height="1700" 
          allowfullscreen></iframe>
</div>