<div class="header clearfix">
  <h3 class="page-header">Configuring Apps in Canvas</h3>
</div>

<%= image_tag "tool_config.png", style: "float: left; margin: 0 20px 20px 0;" %>
  
<p>LTI app configuration in Canvas can happen on the course or account. Click the "Settings" link in the left sidebar of the course or account where you want to add the app. Click the "External Tools" tab and click "Add External Tool".</p>

<p>Enter the name, consumer key and shared secret for the app (for these demo apps you can put any key and secret that you like). For "configuration type" select "By URL" and paste in the full URL of the link configuration (copy the URL from one of the links below).</p>

<p>After the app is saved you should see it appear as configured in the course our account content. Depending on the integration type, the app may appear different places, but most apps will appear under "External Tools" when adding items to a module.</p>
