<% content_for :title, "Tutorials - Desire2Learn" %>

<div class="header clearfix">
  <h3 class="page-header">Configuring Apps in Desire2Learn</h3>
</div>

<p>Desire2Learn added support for LTI apps in version 8.4.</p>

<p>To get at their configuration docs you'll need to log in to <a href="https://community.desire2learn.com/enroll.asp">the Desire2Learn community</a>, then click Documentation => 10.1 => Learning Environment => LTI.</p>
