<% content_for :title, "Tutorials - Moodle" %>

<div class="header clearfix">
  <h3 class="page-header">Configuring Apps in Moodle</h3>
</div>

<p>Moodle added support for LTI apps in version 2.2. The <a href="http://docs.moodle.org/22/en/External_tool_settings" target="_blank">following page</a> explains how to set up external apps in Moodle.</p>

<div class="row">
  <iframe src="http://docs.moodle.org/22/en/External_tool_settings" 
          frameborder="0" 
          class="col-12"
          height="3000"></iframe>
</div>
