<div class="header clearfix">
  <h3 class="page-header">Configuring Apps in Sakai</h3>
</div>

<p>Sakai is LTI compatible, and has been since version 2.5. <a href="http://www.sakaiproject.org/projects/lti-portlet">Here</a> are some resources on using LTI with Sakai.</p>

<ul style="margin-left: 25px;">
  <li><a href="http://nightly2.sakaiproject.org:8085/portal">http://nightly2.sakaiproject.org:8085/portal</a></li>
  <li>Make an account – Include full name and E-Mail</li>
  <li>Make a site, Add Basic LTI, Configure the BLTI Tool</li>
  <li>http://wiscrowd.appspot.com/wiscrowd</li>
  <li>Key = 12345 / secret</li>
</ul>
