<div class="main-content" style="margin-bottom: 10px;">
  <div class="header clearfix">
    <h3 class="page-header">
      {{em-clipboard text=xml}}
      XML Results
    </h3>
  </div>

  {{lti-xml data=config xml=xml}}
  {{syntax-highlighter code=config}}
</div>