<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Tokenable</th>
      <th>API Token</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% api_keys.each do |api_key| %>
    <tr>
      <% if tokenable = api_key.user %>
        <td><i class="canvas-icon-user"></i> <%= tokenable.name %></td>
      <% elsif tokenable = api_key.organization %>
        <td><i class="icon-group"></i> <%= tokenable.name %></td>
      <% end %>
      <td><code><%= api_key.access_token %></code></td>
      <td><%= api_key.created_at.strftime("%b %d, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>