<div class="main-content">
  <div class="header clearfix">
    <h3 class="page-header">What is an Open LTI App Collection?</h3>
  </div>

  <p>Welcome to our open collection of learning apps built on <a href="http://www.imsglobal.org/lti/">LTI&trade;</a>. These apps are all live and can be used in your class today!</p>

  <p>Not familiar with LTI? Basically it's like Facebook apps or Google widgets, but interoperable between lots of edu tools. Browse this site to find <a href="/tutorials">tutorials</a>, <a href="/docs/extensions/index">extensions</a> and <a href="/docs/basics/other_resources">other resources</a>. Currently these LTI extensions are only supported by Canvas.</p>

  <p>NOTE: This site is run by <a href="http://instructure.com">Instructure</a>. The <a href="http://www.imsglobal.org/lti/">official IMS LTI site is available here</a>. The tools listed on this site <a href="http://developers.imsglobal.org/catalog.html">should work in most systems</a>.</p>

  <hr>

  <div class="text-center">
    <%= link_to "View LTI Apps", "/", class: "btn btn-primary" %>
  </div>

</div>

