<div class="thumbnail-view">
  <a href="#" {{action "show" this}}>
    <img {{bindAttr src=banner_image_url alt=name}} class="img-thumbnail">
  </a>
  <p class="title">
    <a href="#" {{action "show" this}}>{{name}}</a>
  </p>
</div>