<div class="row padded">
  <div class="col-sm-12">
    <div class="main-content">
      <div class="header clearfix">
        <h3 class="page-header">Deleted Apps</h3>
      </div>

      <%= render partial: 'table', locals: { apps: @lti_apps } %>
    </div>
  </div>
</div>
