<div class="row padded">
  <div class="col-sm-12">
    <div class="main-content" style="min-height: 550px;">
      <div class="header clearfix">
        <h3 class="page-header">Edit App: <%= @lti_app.name %></h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
