<div class="row padded">
  <div class="col-sm-12">
    <div class="main-content">
      <div class="header clearfix">
        <h3 class="page-header">Submit an App</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
