<div class="row padded">
  <div class="col-sm-9">
    <div class="main-content" style="min-height: 550px;">
      <div class="header clearfix">
        <h3 class="page-header">Submit an App</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
  <class class="col-sm-3">
    <%= link_to "XML Builder", xml_builder_path, class: "btn btn-primary" %>
  </class>
</div>
