#home-banner-wrapper {
  position: fixed;
  top: 70px;
  width: 100%;

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    padding: 15px;
    width: 940px;
    margin: 0 auto;
    background-color: lighten($navbar-link-color, 41%);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: $navbar-link-color;
    strong {
      color: #333;
    }
    a {
      text-decoration: underline;
    }
  }
}

#filter-bar {
  background-color: #fff;

  input.form-control {
    border-right: 0px;
    // border: 2px dotted #dcdcdc;
  }
}

#apps-container {
  margin: -10px;
  a {
    text-decoration: none;
    color: #333;
  }
  .app-item {
    border: 10px solid #eee;
    background-color: #fff;
    padding: 0px;
    .banner {
      padding: 10px;
      border-bottom: 1px solid #efefef;
      img {
        border: 0px;
        padding: 0px;
        width: 200px;
        height: 104px;
      }
    }
    .details {
      padding: 5px 10px;
      h4 {
        margin: 0px;
        padding: 0 0 5px 0;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px dotted #efefef;
      }
      p.short-description {
        font-size: 12px;
        height: 110px;
        overflow: hidden;
        padding: 10px 0;
      }
    }
    &:hover {
      h4 {
        color: #000099;
      }
    }
  }
}
.nav-pills {
  margin-bottom: 15px;
  li > a {
    padding: 5px 15px;
  }
}
.nav-pills > li.active > a {
  background-color: #dfdfdf;
  border-radius: 0px;
  color: #333;
  &:hover {
    background-color: #dfdfdf;
  }
}













ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    &.as-details {
      div.details-view {
        margin-bottom: 15px;
        border-bottom: thin dotted #efefef;
        padding-bottom: 15px;
      }
      p.title {
        font-size: 1.3em;
        margin: 0px;
      }
    }
    &.as-list {
      div.thumbnail-view {
        margin-bottom: 5px;
        span.stars {
          margin-top: 5px; 
        }
      }
    }
  }
}

#app-sort-filters {
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  padding-bottom: 10px;
  a.btn {
    color: #ddd;
    padding: 6px 2px;
    text-decoration: none;
    &.selected {
      color: #000;
    }
  }
}

#filters {
  label {
    margin-bottom: 0px !important;
    font-size: 0.85em;
  }
}

.breadcrumb .btn {
  margin: -3px -5px 0 10px;
}

ul.tags {
  margin: 10px 0px;
  padding: 0px;
  list-style: none;

  li {
    display: block;
    color: #fff;
    background-color: red;
    float: left;
    margin: 0 3px 3px 0;
    padding: 0 8px;
    font-size: 12px;

    &.extension { background-color: #d5a76f; }
    &.tag { background-color: #6abcda;}
    &.category { background-color: #a1ddbd;}
    &.education-level { background-color: #fd6737;}
    &.platform { background-color: #49509a;}
  }
}

.app-details {
  h2 {
    margin: 0px;
  }
  div.author {
    margin-top: 15px;
    font-size: 13px;
    color: #666;
  }
  div.description {
    margin-top: 20px;
  }
}

.app-reviews {
  .small {
    font-size: 0.9em;
    color: #888;
    margin: 0 0 3px 0;
    span {
      color: #555;
    }
  }
}

div.radio {
  label {
    display: block;
    padding-bottom: 5px;
  }
}
.form-group {
  dl.dl-horizontal {
    margin-bottom: 0px;
    dd {
      margin-left: 185px;
    }
  }
}