ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    &.as-details {
      div.details-view {
        margin-bottom: 15px;
        border-bottom: thin dotted #efefef;
        padding-bottom: 15px;
      }
      p.title {
        font-size: 1.3em;
        margin: 0px;
      }
    }
    &.as-list {
      div.thumbnail-view {
        margin-bottom: 5px;
        span.stars {
          margin-top: 5px; 
        }
      }
    }
  }
}

#app-sort-filters {
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  padding-bottom: 10px;
  a.btn {
    color: #ddd;
    padding: 6px 2px;
    text-decoration: none;
    &.selected {
      color: #000;
    }
  }
}

#filters {
  label {
    margin-bottom: 0px !important;
    font-size: 0.85em;
  }
}

.breadcrumb .btn {
  margin: -3px -5px 0 10px;
}

ul.tags {
  margin: 10px 0px;
  padding: 0px;
  list-style: none;

  li {
    display: block;
    color: #fff;
    background-color: red;
    float: left;
    margin: 0 3px 3px 0;
    padding: 0 8px;
    font-size: 12px;

    &.extension { background-color: #d5a76f; }
    &.tag { background-color: #6abcda;}
    &.category { background-color: #a1ddbd;}
    &.education-level { background-color: #fd6737;}
    &.platform { background-color: #49509a;}
  }
}

.app-details {
  h2 {
    margin: 0px;
  }
  div.author {
    margin-top: 15px;
    font-size: 13px;
    color: #666;
  }
  div.description {
    margin-top: 20px;
  }
}