i.github {
  text-decoration: none;
  color: #000;
}
i.facebook {
  text-decoration: none;
  color: #45619D;
}
i.twitter {
  text-decoration: none;
  color: #4A9CD6;
}
i.google_oauth2 {
  text-decoration: none;
  color: #E92C3F;
}