<div class="main-content">
  <div class="header clearfix">
    <h3 class="page-header">Organizations</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th># Members</th>
        <th># Apps</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.memberships.count %></td>
        <td><%= organization.lti_apps.count %></td>
        <td>
          <%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_organization_path(organization.id), class: "pull-right btn btn-info btn-xs" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>