<div class="main-content">
  <div class="header clearfix">
    <%= link_to raw("<i class='icon-plus'></i> Create Organization"), new_organization_path, class: "pull-right btn btn-success btn-xs" %>
    <h3 class="page-header">Organizations</h3>
  </div>

  <%= render partial: "table", locals: { organizations: @organizations } %>
</div>