<% if obj.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <h4><%= pluralize(obj.errors.count, "error") %> prohibited this <%= obj.class.name.underscore.humanize.titleize %> from being saved:</h4>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>