<div class="header clearfix">
  <h3 class="page-header">Other Resources</h3>
</div>

<fieldset>
  <legend>Code/Libraries</legend>
  <ul>
    <li>
      <a href="/data/lti_examples.jsonp">The list of apps on this site's home page is available as a <strong>jsonp</strong> list</a>
    </li>
    <li>
      <a href="https://github.com/instructure/ims-lti">Source code for LTI <strong>ruby</strong> gem</a>
    </li>
    <li>
      <a href="http://code.google.com/p/ims-dev/">Source code for LTI <strong>java</strong> and <strong>php</strong> libraries</a>
    </li>
    <li>
      <a href="http://swl10.blogspot.com/2011/03/oauth-python-and-basic-lti.html">How to use the <strong>python</strong> oauth libraries with LTI, with a link to an example implementation</a>
    </li>
    <li>
      <a href="https://ltisamples.codeplex.com/">LTI samples written for .NET</a>
    </li>
  </ul>
</fieldset>

<fieldset>
  <legend>Documentation</legend>
  <ul>
    <li>
      <a href="/docs/extensions/index">Examples of apps that leverage LTI extensions</a>
    </li>
    <li>
      <a href="https://canvas.instructure.com/doc/api/file.tools_intro.html">Canvas documentation on LTI external tools</a>
    </li>
    <li>
      <a href="http://www.edugarage.com/download/attachments/72811512/Code+Your+Own+Tool+Integration+Using+the+Basic+Learning+Tools+Interoperability+(LTI)+Standard.pdf?version=1&amp;modificationDate=1311710692377&amp;ei=_3d2T_XuN7H9iQKQyei9DA&amp;usg=AFQjCNF9taxr5y951oY-s0GKcLlFecpk1A&amp;sig2=TLVyrX-TUU5fADlHikNJVQ">Blackboard presentation on LTI (pdf - 3.6MB)</a>
    </li>
    <li>
      <a href="http://www.imsglobal.org/lti/">Official LTI documentation</a>
    </li>
  </ul>
</fieldset>