<% content_for :title, "Extensions - Canvas: Homework Submission" %>

<div class="header clearfix">
  <h3 class="page-header">Canvas: Homework Submission Extension</h3>
</div>

<p>
  In Canvas you can configure an LTI tool to turn in homework through an LTI launch. See Canvas documentation for more details <a href="https://canvas.instructure.com/doc/api/file.homework_submission_tools.html">more information</a>.
</p>
