<footer id="footer">
  <div class="container">
    <p class="muted">
      This site and its contents are <a href="https://github.com/cavneb/edu_apps">available on GitHub</a> under the MIT license. Official IMS LTI docs are found on the <a href="http://www.imsglobal.org/lti/">IMS page</a>.<br>
      Also check out IMS's <a href="http://www.imsglobal.org/lti">LTI Directory</a> and details on <a href="http://www.imscert.org">LTI Conformance</a>.
    </p>
    <p>
      <%= link_to "Give Feedback", suggest_path %>
    </p>
  </div>
</footer>